@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
  .team_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .row {
    flex-direction: column;
  }
  .sm-column-100,
  .shop-left,
  .shop-right {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .user__detail {
    margin-left: 0 !important;
  }
  .product__card {
    width: 100%;
  }
  .product__description {
    flex: 0 0 90%;
  }
  .user__info {
    margin: 0 auto;
  }
  .contact {
    padding: 33px;
    margin: 28px 0 !important;
  }

  .input {
    width: 100%;
  }
  .features {
    justify-content: center;
  }
  .user__detail ul {
    margin-block-start: 10px;
    margin-block-end: 20px;
  }

  .sm-flex-inherit {
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 20px;
  }
  .mb-sm-40 {
    margin-bottom: 40px;
  }
  section#content {
    margin-top: 35px;
    padding: 0 30px;
  }
  .blog_meta ul {
    gap: 8px;
    white-space: nowrap;
  }
  .blog_meta ul li a {
    font-size: 11px;
  }
  .left_content {
    padding: 0 0px 0 0px;
  }
  .property_detail {
    column-gap: 0px;
  }
  .property_detail ul {
    padding: 19px;
    row-gap: 17px;
  }
  .property_detail ul:last-child {
    padding-left: 17px;
  }

  /* shop section  */
  .toggle {
    margin-inline-start: 0px;
  }
}

@media (max-width: 500px) {
  .team_wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .container {
    padding: 0 30px;
    p {
      font-size: 15px;
    }
    .right_container {
      .widget {
        padding: 35px 22px 40px 22px;
        h4{text-align: center;}
    }
      .widget.author-widget {
        .product-ratting  {
          ul{
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
          }
      }
        img {
          width: 100px;
        }
      }

      .widget.blog ul li {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .widget.follow ul {
      gap: 5px;
  }
  .widget.tags ul li {
    padding: 9px 12px;
    a{font-size: 14px;}
}
    }
    .left_content {
      h1 {
        margin: 34px 0 9px;
        font-size: 27px;
      }
      .property_detail{
        column-gap: 0;
        ul{border-right: 0; padding: 39px 41px 30px 39px;}
      }
      .feature-list{
        .feature-list-item{
          flex-direction: column;
          h6{text-align: center;}
        }
      }
      .blog_meta {
        ul {
          gap: 20px;
          flex-wrap: wrap;
          li {
            padding: 10px 17px;
            white-space: nowrap;
          }
        }
      }
    }
  }
}


@media (min-width:1025px){
  .container{
    padding: 0 30px;
  }
}